@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*header*/
header .header-img{
    position: relative;
}
header .background{
    width: 100%;
}
.logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.header-txt{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.header-txt h2{
    text-align: center;
    font-size: 35px;
}
.header-txt p{
    text-align: center;
    padding: 15px 20%;
    font-size: 14px;
    color: #A5A3A3;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4%;
}
.ios,
.mac{
    padding: 10px;
    margin: 5px;
    border-radius: 18px;
    font-size: 14px;
    width: 200px;
    color: #fff;
    border: none;
}
.ios{
    background-color: #3DBBB7;
    cursor: pointer;
}
.mac{
    background-color: #326CCF;
    cursor: pointer;
}


/*CONTAINER*/
.container{
    text-align: center;
    padding: 6rem 29rem;
}
.container h2{
    padding: 1.2rem 0;
    font-size: 28px;
    font-weight: 500;
    color: #000;
}
.container p{
    color: #A5A3A3;
    font-size: 14px;
}

/*Section qualidades*/
.computador{
    display: flex;
}
.img-computador img{
   width: 700px;
   left: -60px;
   position: relative;
}
.pulse{
    animation: pulse 1s ;
}
@keyframes pulse{
    0%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }
}
.txt-computador{
    padding: 5rem 18rem 5rem 7rem;
}
.txt-computador h3{
    font-weight: 400;
    color: #000;
    font-size: 21px;
}
.txt-computador p{
    color: #A5A3A3;
    font-size: 15px;
}
.qualidades{
    padding-bottom: 3.2rem;
}

/*Section Imagem*/
.imagem{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagem img{
    width: 780px;
}

/*Section tarfeas*/
.tarefas{
    display: flex;
    text-align: center;
    justify-content: space-between;
    max-width: 1380px;
}
.tarefa h3{
    font-weight: 500;
    padding: 1rem 0;
    text-align: center;
}
.tarefa p{
    color: #A5A3A3;
    font-size: 14px;
    padding: 0 10vh;
    text-align: center;
}

/*Section Sociais*/
.sociais{
    padding: 6% 5%;
    text-align: center;
}
.sociais img{
    padding: 5vh;
}

/*Section clipboard*/
.clipboard{
    text-align: center;
    padding: 0 5vh;
}
.clipboard h2{
    font-size: 25px;
    color: #000;
}
.clipboard p{
    color: #A5A3A3;
    padding: 1rem 50vh;
    padding-bottom: 2rem;
}
.clipboard-btn{
    padding-bottom: 15vh;
}

/*Footer*/
footer{
    display: flex;
    align-items: center;
    padding: 3rem;
    background-color: #cac9c94e;
}
.footer-img{
    padding-right: 4rem;
    padding-left: 25vh;
}
.footer-img img{
    width: 50px;
}
.footer-txt{
    padding: 0 3rem;
}
.footer-txt a{
    color: #000;
}
.footer-txt a::after{
    color: #000;
}
.footer-sociais{
    padding-left: 20rem;
}